@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans.ttf');
}

body{
    font-family: 'OpenSans';
    background-color: rgb(43, 169, 253);
    color: white;
}

h1{
    text-align: center;
}

div{
    margin: auto;
    width: max-content;
}

button{
    cursor: pointer;
    width: 120px;
    height: 30px;
    font-family: 'OpenSans';
    background-color: #3700ff;
    color: #ffffff;
    border: none;
    transition: 0.6s;
}

button:hover{
    background-color: #34297a;
    transition: 0.6s;
}